body{
    background-color: antiquewhite;
    overflow-x: hidden;
}
header{
    position: relative;
    width: 100vw;
    height: 100px;
    max-width: var(--min-width);
    min-width: var(--min-width);
    position: fixed;
    top: 0;
    color: white;
    /* backdrop-filter: blur(5px); */
    z-index: 100;

}
.header-bg{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    /* max-width: var(--min-width); */
    min-width: var(--min-width);
    top: 0; left: 0; right: 0;
    height: fit-content;
    padding: 2vh 5vw 2vh 5vw;
    background: rgba(0, 0, 0, .3);
}
.logo{
    background: url(/imgs/logo.png) no-repeat;
    background-size: contain;
    width: 300px;
    height: 80px;
    cursor: pointer;
}
nav{
    display: flex;
    gap: 50px;
    text-transform: uppercase;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}
nav{
    font-size: 24px;
    height: 80px;
}
nav a{
    color: white;
}
nav>li{
    position: relative;
    text-align: center;
}
nav>li>div{
    cursor: pointer;
}

nav>li .submenu{
    position: absolute;
    width: 130px;
    top: 10px;
    padding: 0;
    left: 0;
    display: none;
    animation: displaymenu 1s forwards;
    border-radius: 10px;
    text-shadow: 1px 1px 2px black,
    0 0 1em black,
    0 0 0.3em black,
    0 0 0.5em black;
}
.submenu a{
    font-size: 16px;
}
nav>li .submenu .submenu2{
    width: 100%;
    padding: 0;
    top: 10px;
    display: none;
    animation: displaymenu 1s forwards;
    text-align: center;
    border-radius: 20px;
}
nav>li:hover .submenu{
    display: block;
}
nav>li:nth-child(2) .submenu{
    left: -30px;
}
nav>li:nth-last-child(1) .submenu{
    left: -50px;
}
.submenu2 a:hover{
    color: var(--point-color);
}
nav i{
    position: relative;
    transition: .3s;
}

.menuicon{
    font-size: 32px;
    display: none;
    cursor: pointer;
}
.navBox{
    animation: displaymenu .7s ease-in-out forwards;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #000;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
.navBox .close-btn{
    position: absolute;
    top: 10px;
    right: 50px;
}
.close-btn i{
    font-size: 24px;
    position: relative;
}
.navBox i{
    transition: .4s;
}
.navBox .menu{
    width: 100%;
    height: 200px;
    flex: 1;
    margin-top: 30px;
    margin-bottom: 10px;
    user-select: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navBox p{
    margin: 0;
}
.navBox a{
    color: white;
}
.navBox .title{
    margin-top: 10px;
}
.navBox .info{
    display: none;
    flex-direction: column;
    margin-top: 10px;
}


#wrapper{
    min-width: var(--min-width);
    position: relative;
}
.scroll{
    width: 100px;
    height: 50px;
    position: absolute;
    bottom: 50px;
    right: 0px;
    z-index: 2;
    text-align: center;
    text-shadow: 1px 1px 2px black,
    0 0 0.3em black;
    color: white;
}
.scroll p{
    margin: 0;
    margin-bottom: 5px;
}
.scroll i{
    font-size: 28px;
    position: relative;
    transition: .5s;
    animation: movearrow 1.2s infinite;
}

/* 특별 기획전 안내 */
.spexhi{
    box-sizing: border-box;
    width: 100%;
    min-width: var(--min-width);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    overflow: hidden;
    padding: 0 2vw;
}
.spexhi >h3{
    font-size: 2rem;
    margin: 3rem 0;
    text-align: center;
}
.spexhi .special-container{
    width: 90%;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 30px;
    margin: 0 auto;
    overflow: hidden;
}
.special-container .special-item{
    width: 500px;
    flex: none;
    box-shadow: 4px 5px 6px rgba(0, 0, 0, .5);
    background-color: #fff;
}
.special-img.spimg1{
    background: url(/imgs/special1.png) no-repeat;
}
.special-img.spimg2{
    background: url(/imgs/special2.png) no-repeat;
}
.special-container .special-item .special-img{
    height: 500px;
    background-size: cover;
    background-position: center;
}
.special-container .special-item .special-desc{
    padding: 2px 1vw
}
.special-desc h4{
    margin: 0;
    font-size: 1.5rem;
}
.special-desc .desc-title{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0;
}
.special-desc .desc-subtitle{
    color: #888888;
}
.special-desc .desc-date{
    font-size: 20px;
    margin-bottom: 0;
    color: #aaa;
}

/* collection */
.collection{
    box-sizing: border-box;
    width: 100%;
    min-width: var(--min-width);
    overflow: hidden;
    height: 80vh;
    padding: 0 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.collection-title{
    position: relative;
    margin-bottom: 10px;
}
.collection-title h3{
    font-size: 2rem;
    margin: 3rem 0;
    text-align: center;
}
.collection-title > a{
    position: absolute;
    color: #333;
    bottom: 0;
    right: 60px;
}
.collect-container{
    /* border: 1px solid red; */
    position: relative;
    display: flex;
    gap: 40px;
    justify-content: space-around;
    background-color: rgba(250, 235, 215, 0.199);
}
.collect-container .collect-item{
    width: 300px;
    flex: none;
}
.collect-img.climg1{
    background: url(/imgs/collect1.jpg) no-repeat;   
}
.collect-img.climg2{
    background: url(/imgs/collect2.jpg) no-repeat;
}
.collect-img.climg3{
    background: url(/imgs/collect3.jpg) no-repeat;
}
.collect-img.climg4{
    background: url(/imgs/collect4.jpg) no-repeat;
}
.collect-item .collect-img{
    height: 350px;
    background-position: center;
    background-size: cover;
}
.collect-item .collect-desc{
    padding: 2px 1vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.collect-desc .collect-author,.collect-desc .collect-year{
    color: #888888;
}
.collect-desc .collect-title{
    font-size: 20px;
}

/* 관람안내 */
.operation{
    min-width: var(--min-width);
    box-sizing: border-box;
    padding: 0 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.op-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.operation > h3{
    text-align: center;
    margin: 3rem;
    font-size: 2rem;
}
.operation .optime{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.optime>p{
    font-size: 24px;
    font-weight: bold;
}
.time{
    display: flex;
    flex-direction: column;
}
.time p{
    font-size: 20px;
    margin: 0;
    margin-bottom: 10px;
}
.operation-img{
    width: 100%;
    text-align: center;
}
.operation-img .fa-clock{
    font-size: 15rem;
    color: #aaa;
}


nav>li .submenu2.on{
    display: block;
}


@media screen and (width<=1400px) {
    header{
        max-width: 1400px;
        min-width: var(--width-1024);
    }
    .header-bg{
        padding: 2vh 5vw;
        gap: 180px;
        align-items: center;
        justify-content: start;
    }
    .header-bg .logo{
        width: 200px;
        background-position: center;
        background-size:contain;
    }
    nav{
        gap: 30px;
    }
    .submenu a{
        font-size: 20px;
    }
    .submenu>li{
        width: 200px;
    }
    
    #wrapper{
        max-width: 1400px;
    }
    .scroll{
        right: 180px;
    }
    .mainSectSwiper .swiper-pagination-vertical{
        width: 500px;
    }
    .spexhi{
        max-width: 1400px;
        min-width: var(--width-1024);
        height: 80vh;
    }
    .special-container .special-item{
        width: 300px;
    }
    .special-container .special-item .special-img{
        height: 300px;
    }
    .collection{
        min-width: var(--width-1024);
        max-width: 1400px;
        height: fit-content;
        display: block;
    }
    .collect-container{
        display: grid;
        grid-template-columns: 300px 300px;
        grid-auto-rows: auto;
    }
    .operation{
        max-width: 1400px;
        min-width: var(--width-1024);
        padding: 0 5vw;
    }
    .operation-img .fa-clock{
        font-size: 10rem;
    }
    footer{
        min-width: var(--width-1024);
        max-width: 1400px;
        justify-content: start;
        gap: 340px;
    }
}
@media screen and (width<=768px){
    header{
        max-width: var(--width-768);
    }
    .header-bg{
        max-width: var(--width-768);
        min-width: var(--width-768);
        padding: 2vh 5vw;
        gap: 450px;
        align-items: center;
    }
    .header-bg .logo{
        width: 200px;
        background-position: center;
        background-size:contain;
    }
    nav{
        display: none;
    }
    .menuicon{
        display: block;
    }
    .navBox{
        top: 100px;
    }
    #wrapper{
        max-width: var(--width-768);
        min-width: var(--width-768);
    }
    .scroll{
        right: 40px;
    }
    .mainSectSwiper{
        max-width: var(--width-768);
    }
    .mainSectSwiper .swiper-pagination-vertical{
        width: 500px;
    }
    .spexhi{
        max-width: var(--width-768);
        min-width: var(--width-768);
        height: 80vh;
    }
    .special-container .special-item{
        width: 300px;
    }
    .special-container .special-item .special-img{
        height: 300px;
    }
    .collection{
        min-width: var(--width-768);
        max-width: var(--width-768);
        height: fit-content;
        display: block;
    }
    .collect-container{
        display: grid;
        grid-template-columns: 300px 300px;
        grid-auto-rows: auto;
    }
    .operation{
        max-width: var(--width-768);
        min-width: var(--width-768);
        padding: 0 5vw;
    }
    .operation-img .fa-clock{
        font-size: 10rem;
    }
    footer{
        min-width: var(--width-768);
        max-width: var(--width-768);
        justify-content: start;
        gap: 280px;
    }
    footer .address{
        font-size: 8px;
    }
}
@media screen and (width<=450px) {
    header{
        max-width: var(--width-420);
    }
    .header-bg{
        max-width: var(--width-420);
        min-width: var(--width-420);
        padding: 2vh 5vw;
        gap: 140px;
        align-items: center;
        justify-content: start;
    }
    .header-bg .logo{
        width: 200px;
        background-position: center;
        background-size:contain;
    }
    nav{
        display: none;
    }
    .menuicon{
        display: block;
    }
    .navBox{
        top: 0;
        height: 100vh;
    }
    .navBox .close-btn{
        display: block;
    }
    #wrapper{
        max-width: var(--width-420);
        min-width: var(--width-420);
    }
    .scroll{
        right: -4px;
    }
    .mainSectSwiper{
        max-width: var(--width-420);
    }
    .mainSectSwiper .swiper-pagination-vertical{
        width: 500px;
    }
    .spexhi{
        max-width: var(--width-420);
        min-width: var(--width-420);
        height: fit-content;
        flex-direction: column;
    }
    .special-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .special-container .special-item{
        width: 300px;
    }
    .special-container .special-item .special-img{
        height: 300px;
    }
    .collection{
        min-width: var(--width-420);
        max-width: var(--width-420);
        height: fit-content;
        display: block;
    }
    .collect-container{
        display: grid;
        grid-template-columns: 300px;
        grid-auto-rows: auto;
    }
    .collect-item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .collect-item .collect-img{
        width: 200px;
        height: 200px;
    }
    .operation{
        max-width: var(--width-420);
        min-width: var(--width-420);
        padding: 0 5vw;
        flex-direction: column;
    }
    .op-container{
        flex-direction: column;
    }
    .operation-img .fa-clock{
        display: none;
    }
    footer{
        min-width: var(--width-420);
        max-width: var(--width-420);
        justify-content: start;
        gap: 5px;
    }
    footer .address{
        font-size: 8px;
    }
    footer .social{
        gap: 12px;
    }
}


.header-bg .open{
    display: flex;
    animation: displaymenu .7s ease-in-out forwards;
}