html,body{
    overflow-x: hidden;
    background-color: antiquewhite;
}
header{
    /* border: 1px solid red; */
    min-width: var(--min-width);
    height: 40vh;
}
.header-bg{
    width: 80%;
    margin: 0 auto;
    margin-top: 10vh;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-bg>a{
    flex: 1;
}
.header-bg li i{
    position: relative;
    margin-left: 5px;
}
.logo{
    background: url(/imgs/logo2.png) no-repeat;
    background-size: contain;
    min-width: 400px;
    width: 400px;
    height: 100px;
    cursor: pointer;
}
nav{
    flex: 1;
    display: flex;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    gap: 40px;
}
nav>li>div{
    cursor: pointer;
}
nav>li:hover>a,nav>li:hover>div{
    color: var(--point-color);
}
nav>li>ul{
    font-weight: 600;
    font-size: 16px;
    text-transform: capitalize;
}
nav>li{
    position: relative;
}
nav>li .submenu{
    position: absolute;
    top: 10px;
    padding: 0;
    left: 0;
    display: none;
    animation: displaymenu 1s forwards;
}
nav>li:nth-last-child(1) .submenu{
    left: -50px;
}
.submenu li{
    margin-top: 5px;
    width: 110px;
    padding: 5px 10px;
}

nav>li .submenu .submenu2{
    position: absolute;
    width: 100%;
    padding-left: 30px;
    left: 100%;
    top: 0;
    display: none;
    animation: displaymenu 1s forwards;
}
nav>li:hover .submenu{
    display: block;
}
nav>li:hover .submenu > li:hover{
    background-color: black;
    border-radius: 10px;
}
nav>li:hover .submenu li:hover>a{
    color: white;
}
nav>li:hover .submenu>li:hover .submenu2{
    display: block;
}
nav>li:hover .submenu>li .submenu2>li:hover{
    background-color: black;
    border-radius: 10px;
}
nav>li:hover .submenu>li .submenu2>li:hover>a{
    color: white;
}
.header-bg nav>li .on{
    color: var(--point-color);
}

.menuicon{
    font-size: 32px;
    display: none;
    cursor: pointer;
}
.navBox{
    animation: displaymenu .7s ease-in-out forwards;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #000;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    z-index: 1000;
    color: white;
}
.navBox a{
    color: white;
}
.navBox .close-btn{
    position: absolute;
    top: 10px;
    right: 50px;
}
.close-btn i{
    font-size: 24px;
    position: relative;
}
.navBox i{
    transition: .4s;
}
.navBox .menu{
    width: 100%;
    height: 200px;
    flex: 1;
    margin-top: 30px;
    margin-bottom: 10px;
    user-select: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navBox p{
    margin: 0;
}
.navBox a{
    color: white;
}
.navBox .title{
    margin-top: 10px;
}
.navBox .info{
    display: none;
    flex-direction: column;
    margin-top: 10px;
}

.header-small{
    box-sizing: border-box;
    width: 100%;
    min-width: var(--min-width);
    padding-right: 5vw;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    overflow: hidden;
    transition: .5s;
    animation: displaymenu .5s forwards;
    display: none;
}
.header-small .small-logo{
    min-width: 250px;
    width: 250px;
    height: 70px;
    background: url(/imgs/small-logo.png) no-repeat;
    background-size: contain;
    background-position: center;
}
.header-small> a{
    width: 30%;
}
.header-small nav{
    width: 100%;
}
.header-small nav a{
    text-align: end;
}
.header-small nav>ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 50px;
    font-size: 18px;
}
.header-small nav>ul>li{
    position: relative;
}
.header-small nav>ul>li>ul{
    position: absolute;
    text-transform: capitalize;
    top: 50px;
    padding: 0;
    text-align: end;
    font-size: 16px;
    z-index: 1;
}
.header-small nav>ul>li>ul>li{
    margin-bottom: 10px;
}
.header-small nav>ul>li>a:hover{
    color: #888;
}
.header-small nav>ul>li>a:hover.black{
    color: #000;
}
.header-small nav>ul>li>ul a:hover{
    color: var(--point-color);
}

/* sec1 */
.wrapper{
    min-width: var(--min-width);
    margin-top: 5vh;
    box-sizing: border-box;
    padding: 0 5vw;
    height: 100vh;
    position: relative;
    /* height: fit-content; */
}
.page-view{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    position: relative;
    margin-top: -100px;
    /* border: 1px solid red; */
}
.page-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
    row-gap: 50px;
    height: 100%;
}
.navigation{
    min-width: 300px;
    position: absolute;
    width: fit-content;
    top: 80px;
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 5px;
}
.navigation span a{
    letter-spacing: 1px;
    font-size: 12px;
    color: #888;
    margin-right: 5px;
}
.navigation i{
    font-size: 12px;
}
.navigation span:hover a{
    color: #000;
}
.navigation .active a{
    color: #000;
}
.page-desc{
    min-width: 300px;
}
.page-desc h3{
    font-size: 2rem;
    border-bottom: 1px solid #888;
}
.page-desc p{
    letter-spacing: 1px;
}
.page-map{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.map{
    min-width: 1200px;
    /* max-width: 1024px; */
    width: 100%;
    height: 100%;
    max-height: 800px;
    background: url(/imgs/library.png) no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
}
.circle{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: red;
    transition: .5s;
}
.circle:hover{
    background: var(--point-color);
}
.circle.on:hover{
    background: red;
}
.living{
    top: 40%;
    left: 17%;
}
.living::before{
    content: '';
    width: 700%;
    height: 600%;
    cursor: pointer;
    position: absolute;
    left: -300%;
    top: -100%;
}
.jean-prouve{
    top: 31%;
    left: 32%;
}
.jean-prouve::before{
    content: '';
    width: 400%;
    height: 400%;
    cursor: pointer;
    position: absolute;
    left: -300%;
}
.library{
    top: 45%;
    left: 30%;
}
.library::before{
    content: '';
    width: 500%;
    height: 500%;
    cursor: pointer;
    position: absolute;
    left: -200%;
}
.corrido{
    top: 61%;
    left: 49%;
}
.corrido::before{
    content: '';
    width: 1500%;
    height: 150%;
    cursor: pointer;
    position: absolute;
    left: -1000%;
    top: -40%;
}
.front{
    top: 68%;
    left: 63%;
}
.front::before{
    content: '';
    width: 800%;
    height: 500%;
    cursor: pointer;
    position: absolute;
    left: -100%;
}
.lounge{
    top: 42%;
    left: 76%;
}
.lounge::before{
    content: '';
    width: 500%;
    height: 500%;
    cursor: pointer;
    position: absolute;
    left: -200%;
}
.cloak{
    top: 49%;
    left: 81%;
}
.cloak::before{
    content: '';
    width: 300%;
    height: 500%;
    cursor: pointer;
    position: absolute;
    left: -20%;
}

.nav-btns{
    min-width: 200px;
    width: 80%;
    margin: 0 auto;
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.nav-btns a{
    border: 1px solid white;
    text-align: center;
    padding: 10px;
    color: #888;
    transition: .5s;
}
.nav-btns a.active{
    border: 1px solid #000;
    color: #000;
}
.nav-btns a:hover{
    border: 1px solid var(--point-color);
    color: var(--point-color);
}
.section{
    width: 100vw;
    padding: 0 10vw;
    min-width: var(--min-width);
    box-sizing: border-box;

}
.sect1-desc{
    border-top: 1px solid #888;
    height: 100%;
}
.sect1-desc>h4{
    font-size: 24px;
}

.sec1-view{
    width: 100%;
    min-height: 60vh;
    background: url(/imgs/librarythumbnail.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 100px;
}
.art-container{
    background-color: rgba(255, 255, 255, 0.212);
    margin: 0 auto;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(7,calc(80%/7));
    grid-auto-rows: auto;
    gap: 38px;
}
.art-item{
    /* border: 1px solid red; */
    min-width: 150px;
    cursor: pointer;
}
.item-img{
    min-height: 190px;
    background-size: cover;
    background-position: center;
}
.item-desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item-desc h4{
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
}
.item-desc p{
    margin: 0;
    font-size: 12px;
    color: #888;
    width: 200px;
    text-align: center;
}

/* 모달 */
.modal{
    box-sizing: border-box;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    /* border: 1px solid red; */
    z-index: 101;
    background-color: rgba( 0, 0, 0, .8);
    display: none;

}
.art-modal{
    flex: none;
    width: 95vw;
    height: 95vh;
    /* border: 1px solid green; */
    margin: 2vh auto;
    margin-left: 50px;
    display: flex;
    background-color: #fff;
}
.modal-imgbox{
    position: relative;
    flex: 1; 
    width: 50%;  
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-left: 50px;
}
.modalSwiper{
    overflow: hidden;
}
.modal-desc{
    margin-right:50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.swiper-pagination{
    width: 100px !important;
    bottom: 230px !important;
    left: 240px !important;
}
.swiper-pagination-bullet-active{
    background-color: var(--point-color);
}
.modal-img{
    flex: none;
    margin-top: 50px;
    min-width: 600px;
    min-height: 600px;
    /* background: url(/imgs/gate-small.jpg) no-repeat; */
    background-size: contain;
    /* border: 1px solid red; */
}
.modal-desc{
    flex: 1;
    width: 800px;
    /* border: 1px solid blue; */
}
.modal-desc>p{
    font-size: 24px;
    font-weight: bold;
}
.modal-item-desc>p{
    font-size: 18px;
    line-height: 1.6;
}
.modal-item-desc>p:nth-of-type(2){
    color: #888;
    font-size: 16px;
}
.modal-item-desc>p:nth-of-type(3){
    text-align: end;
    color: #888;
    font-size: 16px;
}
.modal-author{
    border-top: 1px solid #888;
    display: flex;
    gap: 20px;
    align-items: center;
}
.author-img{
    min-width: 200px;
    min-height: 200px;
    width: 200px;
    height: 200px;
}
.author-desc{
    width: 400px;
    line-height: 1.6;
}
.author-desc>p{
    font-size: 14px;
}
.author-desc>p:nth-of-type(1){
    font-size: 18px;
}
.author-desc>p:nth-of-type(3){
    color: #888;
}

.close-btn2{
    position: absolute;
    top: 20px;
    right: 35px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.close-btn2 i{
    font-size: 40px;
}
footer{
    padding: 0 10vw;
    background-color: antiquewhite;
    color: #888;
    margin-bottom: 10px;
}

.header-bg .open{
    display: flex;
    animation: displaymenu .7s ease-in-out forwards;
}

@media screen and  (width<=1400px){
    header{
        min-width: var(--width-1024);
    }
    .header-bg{
        margin: 0;
        margin-top: 2vh;
        padding-left: 5vw;
        gap: 40px;
    }
    .header-bg .logo{
        width: 200px;
        min-width: 200px;
        background-position: center;
    }
    .header-small{
        min-width: var(--width-1024);
    }
    .header-small .small-logo{
        min-width: 200px;
        width: 200px;
        height: 70px;
    }
    .header-small nav{
        height: 70px;
    }
    .header-small nav>ul{
        justify-content: center;
        align-items: center;
        gap: 20px;
        font-size: 16px;
        padding: 0;
        margin-left: -50px;
    }
    .header-small nav>ul>li>ul {
        font-size: 14px;
    }
    .header-small nav>ul>li:nth-child(2)>ul{
        left: -26px;
    }
    .wrapper{
        min-width: var(--width-1024);
        margin-top: -30vh;
    }
    .navigation{
        top: 350px;
    }
    .page-view{
        min-width: var(--width-1024);
        justify-content: start;
    }
    .page-map{
        width: 50%;
    }
    .page-map .map{
        height: 400px;
        width: 100px;
        min-width: var(--width-1024);
        background-position: 0;
    }
    .circle{
        width: 15px;
        height: 15px;
    }
    .page-map .map .living{
        left: 130px;
        top: 140px;
    }
    .map .jean-prouve{
        left: 240px;
        top: 100px;
    }
    .map .library{
        left: 230px;
        top:170px;
    }
    .map .corrido{
        left: 370px;
        top: 250px;
    }
    .map .front{
        left: 460px;
        top: 290px;
    }
    .front::before{
        left: -300%;
    }
    .map .lounge{
        left: 570px;
        top: 150px;
    }
    .map .cloak{
        left: 620px;
        top: 190px;
    }
    .map .cloak::before{
        left: -90%;
    }
    .section{
        min-width: var(--width-1024);
        padding: 0 5vw;
        margin-top: -20vh;
    }
    .art-container{
        grid-template-columns: repeat(4,calc(80%/4));
    }
    .art-modal{
        margin-left: 25px;
        gap: 20px;
    }
    .modal-imgbox{
        margin-left: 10px;
        gap: 40px;
        justify-content: center;
    }
    .modal-img{
        min-width: 400px;
        min-height: 460px;
    }
    .swiper-pagination{
        bottom: 382px !important;
        left: 200px !important;
    }
    .modal-desc{
        width: 300px;
        justify-content: start;
        gap: 20px;
    }
    .modal-desc>p{
        margin-top: 25vh;
    }
    .modal-item-desc>p{
        font-size: 20px;
    }
    .modal-item-desc>p:nth-of-type(2){
        font-size: 14px;
    }
    .modal-item-desc>p:nth-of-type(3){
        font-size: 12px;
    }
    .modal-author{
        width: 90vw;
        position: absolute;
        bottom: 60px;
        left: 5vw;
    }
    .author-desc{
        width: 600px;
    }
    .author-desc>p:nth-of-type(1) {
        font-size: 16px;
    }
    .author-desc>p{
        font-size: 12px;
    }
    .close-btn2{
        top: 50px;
    }
    .close-btn2 i{
        font-size: 60px;
    }
}
@media screen and  (width<=786px){
    header{
        min-width: var(--width-786);
        height: 15vh;
    }
    .header-bg{
        position: fixed;
        margin: 0;
        top: 0;
        z-index: 100;
        padding-left: 2vw;
        padding-right: 2vw;
        gap: 30px;
        width: 100%;
    }
    .header-bg>a{
        flex: none;
    }
    .header-bg .logo{
        width: 200px;
        min-width: 200px;
        background-position: center;
    }
    .header-bg>nav{
        display: none;
    }
    .menuicon{
        display: block;
    }
    .header-small{
        display: none !important;
    }
    .wrapper{
        min-width: var(--width-786);
        height: 60vh;
        margin-top: 0;
    }
    .navigation{
        display: none;
    }
    .page-desc{
        display: none;
    }
    .page-container{
        justify-content: start;
        margin-top: 60px;
        height: fit-content;
    }
    .page-view{
        min-width: var(--width-786);
        justify-content: start;
        flex-direction: column-reverse;
        margin-top: 0;
    }
    .page-map{
        width: 768px;
        height: 300px;
    }
    .page-map .map{
        height: 390px;
        width: 100%;
    }
    .circle{
        width: 10px;
        height: 10px;
    }
    .page-map .map .living{
        left: 130px;
        top: 140px;
    }
    .map .jean-prouve{
        left: 235px;
        top: 100px;
    }
    .map .library{
        left: 220px;
        top:170px;
    }
    .map .corrido{
        left: 370px;
        top: 245px;
    }
    .map .front{
        left: 460px;
        top: 280px;
    }
    .front::before{
        left: -300%;
    }
    .map .lounge{
        left: 550px;
        top: 150px;
    }
    .map .cloak{
        left: 590px;
        top: 185px;
    }
    .map .cloak::before{
        left: -90%;
    }
    .section{
        min-width: var(--width-786);
        padding: 0 5vw;
        margin-top: 0;
    }
    .art-container{
        grid-template-columns: repeat(4,calc(80%/4));
    }
    .art-modal{
        margin-left: 25px;
        gap: 20px;
    }
    .modal-imgbox{
        margin-left: 10px;
        gap: 0px;
        justify-content: start;
    }
    .modal-img{
        min-width: 353px;
        min-height: 460px;
    }
    .swiper-pagination{
        bottom: 380px !important;
        left: 140px !important;
    }
    .modal-desc{
        width: 300px;
        justify-content: start;
        gap: 20px;
    }
    .modal-desc>p{
        margin-top: 10px;
    }
    .modal-item-desc>p{
        font-size: 14px;
    }
    .modal-item-desc>p:nth-of-type(1){margin-top: 0;}
    .modal-item-desc>p:nth-of-type(2){
        font-size: 12px;
    }
    .modal-item-desc>p:nth-of-type(3){
        font-size: 12px;
    }
    .modal-author{
        width: 90vw;
        position: absolute;
        bottom: 60px;
        left: 5vw;
    }
    .author-desc{
        width: 600px;
    }
    .author-desc>p:nth-of-type(1) {
        font-size: 16px;
    }
    .author-desc>p{
        font-size: 12px;
    }
    .close-btn2{
        top: 26px;
        right: 10px;
    }
    .close-btn2 i{
        font-size: 30px;
    }
}

@media screen and (width<=450px){
    header{
        min-width: var(--width-420);
        height: 15vh;
    }
    .header-bg{
        position: fixed;
        margin: 0;
        top: 0;
        z-index: 100;
        padding-left: 2vw;
        padding-right: 2vw;
        gap: 30px;
        width: 100%;
    }
    .header-bg>a{
        flex: none;
    }
    .header-bg .logo{
        width: 200px;
        min-width: 200px;
        background-position: center;
    }
    .header-bg>nav{
        display: none;
    }
    .menuicon{
        display: block;
    }
    .navBox{
        height: 100vh;
    }
    .header-small{
        display: none !important;
    }
    .wrapper{
        min-width: var(--width-420);
        height: 60vh;
    }
    .navigation{
        display: none;
    }
    .page-desc{
        display: none;
    }
    .page-container{
        justify-content: start;
        margin-top: 60px;
        height: fit-content;
        margin-left: -50px;
    }
    .page-view{
        min-width: var(--width-420);
        justify-content: start;
        flex-direction: column-reverse;
        margin-top: 0;
    }
    .sec1-view{
        min-height: 30vh;
    }
    .page-map{
        width: 450px;
        height: 300px;
    }
    .page-map .map{
        height: 210px;
        width: 100%;
    }
    .page-map .map .living{
        left: 70px;
        top: 70px;
    }
    .map .jean-prouve{
        left: 128px;
        top: 50px;
    }
    .map .library{
        left: 120px;
        top:85px;
    }
    .map .corrido{
        left: 200px;
        top: 128px;
    }
    .map .front{
        left: 250px;
        top: 145px;
    }
    .front::before{
        left: -300%;
    }
    .map .lounge{
        left: 295px;
        top: 75px;
    }
    .map .cloak{
        left: 320px;
        top: 100px;
    }
    .map .cloak::before{
        left: -90%;
    }
    .circle{
        width: 8px;
        height: 8px;
    }
    .section{
        min-width: var(--width-420);
        padding: 0 5vw;
    }
    .art-container{
        grid-template-columns: repeat(2,calc(80%/2));
    }
    .modal{
        overflow-y: auto;
        background-color: #fff;
    }
    .art-modal{
        margin: 0;
        width: 100vw;
        height: fit-content;
        gap: 20px;
        flex-direction: column;
        /* justify-content: center; */
        /* align-items: center; */
    }
    .modal-imgbox{
        margin-left: 10px;
        gap: 0px;
        width: 100%;
    }
    .modal-img{
        min-width: 350px;
        min-height: 337px;
    }
    .modal-imgdesc{
        font-size: 14px;
    }
    .modalSwiper{
        margin-top: 5vh;
    }
    .swiper-pagination{
        bottom: -34px !important;
        left: 150px !important;
    }
    .modal-desc{
        width: 400px;
        justify-content: start;
        gap: 0px;
    }
    .modal-desc>p{
        margin-top: 2vh;
        font-size: 16px;
    }
    .modal-item-desc>p{
        font-size: 10px;
    }
    .modal-item-desc>p:nth-of-type(2){
        font-size: 8px;
    }
    .modal-item-desc>p:nth-of-type(3){
        font-size: 8px;
    }
    .modal-author{
        width: 90vw;
        position: static;
        bottom: 160px;
        left: 5vw;
    }
    .author-desc{
        width: 600px;
    }
    .author-desc>p:nth-of-type(1) {
        font-size: 12px;
    }
    .author-desc>p{
        font-size: 8px;
    }
    .close-btn2{
        width: 15px;
        height: 15px;
        z-index: 10;
    }
    .close-btn2 i{
        font-size: 20px;
    }
    footer .address{
        font-size: 8px;
    }
}





