html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR';
}
a{
    color: #000;
    text-decoration: none;
}
/* 헤더 */

header{
    position: relative;
    max-width: 100%;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    color: white;
    /* backdrop-filter: blur(5px); */
    z-index: 100;

}
.header-bg{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    max-width: 1920px;
    top: 0; left: 0;
    width: 100%;
    height: fit-content;
    padding: 2vh 10vw;
    background: rgba(0, 0, 0, .3);
}
.logo{
    background: url(/imgs/logo.png) no-repeat;
    background-size: contain;
    width: 300px;
    height: 80px;
    cursor: pointer;
}
.nav{
    display: flex;
    gap: 10px;
    text-transform: uppercase;
    font-weight: bold;
}
.nav{
    font-size: 24px;
    position: relative;
}
.nav a{
    color: white;
}
.dropdown{
    position: relative;
}
.dropdown>*{
    transition: .3s;
}
.nav .show{
    opacity: 1;
    display: block;
    visibility: visible;
}
.dropdown-menu{
    position: absolute;
    display: none;
    visibility: hidden;
}
/* 슬라이드 백그라운드 */
#wrapper{
    position: relative;
    box-sizing: border-box;
    top: 0;
    width: 100%;
}
.mainSectSwiper{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.mainSectSwiper .swiper-slide{
    background-size: cover;
}
.mainSectSwiper .swiper-pagination-vertical{
    /* border: 1px solid red; */
    display: flex;
    gap: 10px;
    justify-content: center;
    right: var(--swiper-pagination-right, 8px);
    left: var(--swiper-pagination-left, auto);
    transform: translate3d(-50%,-50%,0);
    left: 50%;
    top: 98%;
    bottom: 0;
}
.mainSectSwiper .swiper-pagination-bullet{
    background-color: white;
    width: 30px;
    height: 2px;
    border-radius: 0;
}


/* 특별 기획전 안내 */
.spexhi{
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    overflow: hidden;
    padding: 0 2vw;
}
.spexhi >h3{
    font-size: 2rem;
    margin: 3rem 0;
    text-align: center;
}
.spexhi .special-container{
    width: 90%;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 30px;
    margin: 0 auto;
    overflow: hidden;
}
.special-container .special-item{
    width: 500px;
    flex: none;
    box-shadow: 4px 5px 6px rgba(0, 0, 0, .5);
}
.special-img.spimg1{
    background: url(/imgs/special1.png) no-repeat;
}
.special-img.spimg2{
    background: url(/imgs/special2.png) no-repeat;
}
.special-container .special-item .special-img{
    height: 500px;
    background-size: cover;
    background-position: center;
}
.special-container .special-item .special-desc{
    padding: 2px 1vw
}
.special-desc h4{
    margin: 0;
    font-size: 1.5rem;
}
.special-desc .desc-title{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0;
}
.special-desc .desc-subtitle{
    color: #888888;
}
.special-desc .desc-date{
    font-size: 20px;
    margin-bottom: 0;
    color: #aaa;
}

/* collection */
.collection{
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    height: 80vh;
    padding: 0 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.collection-title{
    margin-bottom: 10px;
}
.collection-title h3{
    font-size: 2rem;
    margin: 3rem 0;
    text-align: center;
}
.collection-title a{
    display: flex;
    justify-content: end;
    color: #888888;
}
.collect-container{
    /* border: 1px solid red; */
    display: flex;
    gap: 40px;
    justify-content: space-around;
}
.collect-container .collect-item{
    width: 300px;
    flex: none;
}
.collect-img.climg1{
    background: url(/imgs/collect1.jpg) no-repeat;   
}
.collect-img.climg2{
    background: url(/imgs/collect2.jpg) no-repeat;
}
.collect-img.climg3{
    background: url(/imgs/collect3.jpg) no-repeat;
}
.collect-img.climg4{
    background: url(/imgs/collect4.jpg) no-repeat;
}
.collect-item .collect-img{
    height: 350px;
    background-position: center;
    background-size: cover;
}
.collect-item .collect-desc{
    padding: 2px 1vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.collect-desc .collect-author,.collect-desc .collect-year{
    color: #888888;
}
.collect-desc .collect-title{
    font-size: 20px;
}

/* 관람안내 */
.operation{
    box-sizing: border-box;
    padding: 0 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.op-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.operation > h3{
    text-align: center;
    margin: 3rem;
    font-size: 2rem;
}
.operation .optime{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.optime>p{
    font-size: 24px;
    font-weight: bold;
}
.time{
    display: flex;
    flex-direction: column;
}
.time p{
    font-size: 20px;
}
.operation-img{
    width: 100%;
    text-align: center;
}
.operation-img .fa-clock{
    font-size: 15rem;
    color: #aaa;
}

/* footer */
footer{
    margin-top: 10vh;
    background-color: #b1b1b1;
    padding: 10px 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .address{
    font-size: 12px;
    display: flex;
    flex-direction: column;
}
footer .social{
    display: flex;
    gap: 20px;
    font-size: 20px;
}
footer .social i{
    color: #222;
}

.nav .submenu.show{
    opacity: 1;
    visibility: visible;
}
